$cloudy-background: linear-gradient(0deg, rgba(2,7,15,1) 0%, rgba(146,155,158,1) 60%);
$thunder-background: linear-gradient(0deg, rgba(2,7,15,1) 0%, rgba(92,97,98,1) 60%);
$sunny-background: linear-gradient(0deg, rgba(242,88,28,1) 0%, rgba(238,238,72,1) 60%);
$mist-background: linear-gradient(0deg, rgba(210,206,205,1) 0%, rgba(164,164,240,1) 60%);


